body {
  font-size: 16px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto !important;
}

h2 {
  font-size: 1.75rem;
}

nav {
  color: #fff !important;
  font-size: 1rem !important;
  button {
    color: rgb(245, 244, 244) !important;
  }

  button:hover {
    color: #fff !important;
  }
}

button,
a {
  cursor: pointer;
}

button[disabled="disabled"],
button:disabled {
  cursor: not-allowed;
}

#error_explanation {
  ul {
    margin: 0 0 30px 0;
    li {
      list-style-type: disc;
      color: rgb(133, 100, 4);
    }
  }
}



.progress {
    height: 0.35rem !important;
}
