// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form_wrapper {
  border: 1px solid rgb(209, 208, 208);
  margin: 3rem auto;
  box-shadow: -1px -1px 10px #ddd;
  border-radius: 0.2rem;
}
